<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %>
      <%= link_to 'Delete', review_path(review), data: { turbo_method: 'delete' } %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add a new review', new_restaurant_review_path(@restaurant) %>

<div>
  <%= link_to 'Show chef information', chef_restaurant_path(@restaurant) %> |
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %>

  <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
</div>
